body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6d7a8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
}

main {
    padding: 1em;
    text-align: center;
}

h1{
    font-size: 2em;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    position: relative;
    color: gray;
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

li ul {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the list item */
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px; /* Ensure the dropdown is wide enough */
}

li:hover > ul {
    display: block;
}

li ul li {
    float: none;
    display: block; /* Ensure each list item takes up its own line */
}

li ul li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}